#name{
    color: red;
}
input:invalid {
    border: 2px dashed blue;
  }

input:invalid{
    border: 2px dashed red;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

